.form-container {
  h2 {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  h3 {
    display: flex;
    align-items: start;
    width: 13rem;
    margin-bottom: 0.5rem;
  }

  form {
    width: 300px;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    flex: start;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem;
  }

  label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  input,
  textarea {
    border-radius: 7px;
    width: 100%;
    transition: all 0.4s;
    outline: none;
    padding: 0.5rem 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border: 2px solid #000;
  }

  input {
    margin-bottom: 15px;
    cursor: pointer;
    padding: 10px;
  }

  textarea:hover {
    cursor: pointer;
  }

  textarea {
    margin-bottom: 30px;
    height: 100px;
    padding: 10px;
  }

  button {
    width: 100%;
    border-radius: 5px;
    font-size: 0.7rem;
    transition: all 0.4s;
    padding: 0.8rem 0.5rem;
  }

  button:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }

  span {
    display: flex;
    align-items: flex-start;
  }

  .form-container {
    margin-bottom: 4rem;
  }

  .password-minimum {
    font-size: 1rem;
  }

  .sign-in-button {
    background-color: black;
    color: white;
    font-size: 1rem;
    margin-bottom: 0.6rem;
  }

  .forgot-password:hover {
    text-decoration: underline;
  }

  .new-to-beauty {
    margin-bottom: 4px;
  }

  .create-account-btn {
    border: 1px solid black;
  }

  .signin-message {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
  }

  .error-message {
    padding: 4px;
    margin-bottom: 15px;
    border-radius: 2px;
    text-align: center;
    background: #ffc92b;
  }

  .test {
    background: blue;
  }
}
