h2 {
    text-align: center; 
    margin-top: 5rem;
    display: flex; 
    justify-content: center;  
}

h3 {
    display: flex;
    align-items: start;
    width: 11rem; 
    margin-bottom: .5rem; 
}

form {
    width: 300px; 
    margin: 3rem auto;   
    display: flex; 
    flex-direction: column;
    flex: start;  
    justify-content: center;
    align-items: center; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    padding: 1rem 1rem; 
}

label {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1rem; 
}

input {
    border-radius: 7px;
    width: 100%; 
    transition: all .4s;
    outline: none;  
    padding: .5rem 0;
}

input:hover {
    cursor: pointer; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5)
}

button {
    margin-bottom: 5rem; 
    width: 100%; 
    border-radius: 5px; 
    font-size: .7rem; 
    transition: all .4s;
    padding: .8rem .5rem;
}

button:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5)
}


span {
    display: flex;
    align-items: flex-start;
}

.form-container {
    margin-bottom: 4rem; 
}

.password-minimum { 
    font-size: .7rem; 
}