.slideshow-container {
    width: 100vw; 
    height: 75vh; 
}

.slideshow-container img {
    width: 100vw; 
    height: 75vh; 
}

// @keyframes slideshow{
    
//         0%,100% { opacity: 0; }
//         50% { opacity: 1; }
      
// }