.time-list-button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
}

.time {
  background-color: #a6a5aa;
  transition: all 1s ease-out;
}

.time:hover {
  opacity: 0.5;
}
