.beauty-supplies-container {
    position: relative;
    text-align: center;
    width: 100%;
    height: 400px;
    display: flex; 
}

.react-parallax-content {
    display: flex; 
    justify-content: center;
}

.beauty-supplies-container-text {
    height: 400px; 
    width: 100%; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 

    h1 {
        
        color: black; 
    }

    p {
        color: black; 
    }

}

.beauty-supplies-img{
    width: 100%; 
    height: 500px; 
}