@import "../_variables.scss"; 

.home-container {
    width: 100%; 
    
    .waxing-img {
        width: 100%;
        height: 85vh;  
        opacity: 80%;                            
    }

    .bar-separator {
        width: 100%; 
        padding: 10px;  
        background-color: black;
        display: flex; 
        justify-content: center;
        align-items: center;
        text-align: center;  
        color: white;

        h4 {
            margin-top: 10px; 
        }
    }

    .about-section {
        margin-top: 2rem; 
        width: 100%;  
        display: flex; 
        justify-content: center;
        align-items: center; 
    }

    .eyebrow-img {
        width: 450px;
        height: 400px; 
        margin-right: 10px;  
    }

    .about-section-definition {
        width: 450px;
        height: 400px; 
        font-size: 18px;  
        padding: 2rem; 
        box-shadow: 3px 5px 15px -1px #000000;
        text-align: center;  
    }

    .beauty-supplies-container {
        position: relative;
        text-align: center;
        width: 100%;
        display: flex; 
    }

    .react-parallax-content {
        margin: 0 auto; 
        display: flex; 
        justify-content: center;
    }

    .beauty-supplies-container-text {
        padding: 3rem; 
        width: 90%; 
        display: flex; 
        flex-direction: column;
        justify-content: center; 

        h1 {
            color: black; 
        }

        p {
            color: black; 
        }

    }

    .beauty-supplies-img{
        width: 100%; 
        height: 500px; 
    }

    .centered {
        position: absolute;
        color: $primary;
        width: 70%; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
    .grid {
        margin-top: 50px; 
        margin-bottom: 100px; 
    }

    .grid-item-container {
        display: flex;
        justify-content: space-around; 
        overflow: hidden;
        margin: 0 auto; 
    }

    .grid-item {
        width: 300px; 
        height: 300px; 
        transition: all .2s ease-out;
        background-size: cover; 
        background-position: center; 
    }

    .grid-item:hover {
        transform: scale(1.1);
    }

    .grid-item-1 {
        background-image: url("../../assets/images/grid-pic1.jpg");
    }

    .grid-item-2 {
        background-image: url("../../assets/images/grid-pic2.jpg");

    }

    .grid-item-3 {
        background-image: url("../../assets/images/grid-pic3.jpg");
    }

    .grid-item-4 {
        background-image: url("../../assets/images/grid-pic4.jpg");
    }

    .zoom-in-out-box {
        background-size: cover; 
        margin: 24px;
        width: 450px;
        height: 400px;
        animation: zoom-in-zoom-out 1.5s ease 2;
      }
      
      @keyframes zoom-in-zoom-out {
        0% {
          transform: scale(1, 1);
        }
        50% {
          transform: scale(1.1, 1.1);
        }
        100% {
          transform: scale(1, 1);
        }
      } 
    }

    @media only screen and(max-width: 900px) {
        .about-section {
            display: flex;
            flex-direction: column; 
            margin-bottom: 20px;          
        }

        .grid {
            display: flex; 
            justify-content: center; 
            margin: 0 auto; 
        }

        .home-container .grid-item-container {
            display: grid; 
            grid-template-columns: 1fr 1fr;
        }    

        .grid-item {
            margin: 0 .5rem .5rem 2rem; 
        }   
    }

    @media only screen and(max-width: 640px) {

        .about-section {
            display: flex;
            flex-direction: column; 
            margin-bottom: 20px;          
        }

        .home-container .grid-item-container {
            display: grid; 
            grid-template-columns: 1fr;
        }   

    }



















