@import "~bootstrap/scss/functions";
@import "./_variables.scss";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap";

@import "./components/header.scss";
@import "./components/navbar.scss";
@import "./pages/home.scss";
@import "./components/slideshow.scss";
@import "./components/footer.scss";
@import "./pages/calendar.scss";

body {
	font-family: "Montserrat", sans-serif;
}

h1 {
	font-weight: bold;
}

p {
	font-family: "Roboto", sans-serif;
}

.main {
	position: relative;
	min-height: 100vh;
   }

.service-description {
	width: 100vw;
	margin: 0 auto;
}

.price-content {
	margin-left: 3rem;  
	display: flex;
	justify-content: center;
}

.price {
	width: 90%;
}

.price-wrapper {
	display: grid;
	margin-bottom: 2rem;
	grid-template-columns: 2fr 1fr 1fr;
}

.price-title {
	font-weight: 900; 
	width: 80%; 
}

.price-cost-time {
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	align-items: flex-start; 
	margin-bottom: -2px; 

	p {
		margin: 0 24px -2px 0; 
	}

	svg {
		margin-bottom: 2px; 
	}
}



.button-wrapper {
    text-align: center; 
}

.price-button {
	width: 5rem; 
	border-radius: 8px;
}

.service-defintion {
	width: 80%; 
}
